<link rel="icon" href="http://www.jd.com/favicon.ico" type="image/x-icon"/>
<link rel="stylesheet" href="http://misc.360buyimg.com/lib/skin/2013/base.css" media="all"/>
<script type="text/javascript">window.pageConfig = { compatible: true, preload: true}; </script><!--ignore-->
<link rel="stylesheet" href="/static/css/common.scss">
<link rel="stylesheet" href="/static/css/jquery-share.css">
<!-- shortcut-2013 from vip.jd.com -->
<link rel="stylesheet" href="http://misc.360buyimg.com/vip/2014/widget/shortcut-2013/shortcut-2013.css">