@import "../../sass/lib";
.filter {
    width:100%;
    height:30px;
    background:#ffe5e1;
    line-height: 30px;
    dl, dt, dd {
        float:left;
    }
    dl { margin-left:20px; }
    dt {
        font-weight:bold;
    }
    a {
        padding:0 10px;
        &:hover, &.active {
            color:$color01;
        }
    }
}