<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="keywords" content=""/>
<meta name="description" content="" />
<title>首页 - 异业合作</title>
#parse("/widget/meta/meta.vm")
</head>
<body>
#parse("/widget/shortcut-2013/shortcut-2013.vm")

<div class="main clearfix">
    <div class="d-main">
        #parse("/widget/breadcrumb/breadcrumb.vm")
        <div class="d-main-hd">
            <div class="hd-pic"><img src="/static/img/detail_pic.png" alt=""></div>
            <div class="hd-info">
                <h1 class="hd-title">12元嘀嗒拼车抵用券</h1>
                <p class="hd-p"><strong>活动时间：</strong>2015.5.18 10:00 至 2015.5.31 23:59</p>
                <p class="hd-p"><strong>兑换人数：</strong>9987人</p>
                <p class="hd-price"><em>100</em>京豆 ｜ <i class="rank28 rank28-56"></i>铜牌以上会员专享</p>
                <p class="hd-btn-panel">
                    <span class="btn-status btn-status-1" itid="1" ittermtype="1" ittype="1" ittitle="疾风之刃超值道具大放送" itbeancount="" ittelnum="" itemail="" itexchangenum="1">立即兑换</span>
                    <a href="" class="mylist">我的兑换记录 &gt;&gt;</a>
                    <span class="btn-share"><i></i><em>分享</em></span>
                </p>
            </div>
        </div>
        <div class="d-main-line"><span>活动详情</span></div>
        <div class="d-main-cont">
            <p>1、518会员礼包活动仅限京东老用户参与，新注册用户及铜牌会员以下用户（不含铜牌会员）不可参与。</p>
            <p>2、单个京东账号在活动期间只可成功获得一次礼包，用户可在电脑版会员俱乐部、京东手机客户端APP、微信、手机QQ等多个渠道的活动页面争夺礼包；获得礼包后，  在上述任意渠道的活动页面均无法再次获得518会员礼包。</p>
            <p>3、 518会员礼包中的优惠券仅限在京东APP客户端、微信-购物、手机QQ-购物中使用，各类优惠券使用规则以京东官网规定为准。</p>
            <p>4、优惠券有效期为2015.5.18-2015.5.31，逾期作废。</p>
            <p>5、争夺礼包成功后，礼包中的优惠券将自动发放至您的京东账户内，请在“<a href="">我的优惠券</a>”或相关页面查看，如遇发放延迟，请您耐心等待。</p>
            <p>6、争夺礼包为概率性事件，不能保证所有用户均获得礼包。</p>
            <p></p>
            <p>提示：京东不会以任何方式索要您的银行账号、密码等信息，请注意安全谨防诈骗。</p>
        </div>
    </div>
</div>

<div class="footer bg-white">
    #parse("/widget/footer/footer.vm")
</div>

#parse("/widget/side-ad/side-ad.vm")

#parse("/widget/scripts/scripts.vm")
<script src="/static/app/detail/main.js"></script>

</body>
</html>